body {
	font-family: 'Lato', sans-serif;
	text-align: center;
	color: #2E2E2E;
	font-size: 1.25rem;
}
img {
	width: 236px;
	height: 236px;
}
.value-proposition {
	background: #4689AC;
	color: white;
	padding: 1rem;
	border-radius: 20px;
}
